.opening-screen {
    height: 100%;
    background-color: hsla(174, 94%, 31%, 0.7);
    background: url('../images/opening-bg.png');
    display: table;
    background-position: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

@media (max-width: 480px) {
  .opening-screen {
    background: none;
  }
  h1.project-title, h4 {
    color: hsla(174, 94%, 31%, 1) !important;
  }
}

h1.project-title {
    color: #FFF7BB;
}

.opening-text {
    display: table-cell;
    vertical-align: middle;
}

.left-info {
    padding-left: 0;
}

.main-buttons {
    min-width: 300px;
    color: hsla(174, 94%, 31%, 1);
    margin: 10px;
    font-family: Georgia, serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.5em;
}

.opening-text .btn-warning {
    color: #FFF7BB;
}

/*MOBILE SETTINGS*/
.mobile-map {
    margin: 10px 50px;
}

/*USER PROFILE STYLES*/
.user-name h1 {
    color: hsla(329, 29%, 41%, 1);
}

container .user_profile {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
}