.opening-screen {
    height: 100%;
    background-color: hsla(174, 94%, 31%, 1);
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1.project-title {
    color: #FFF7BB;
}

.opening-text {
    display: table-cell;
    vertical-align: middle;
}

.left-info {
    padding-left: 0;
}

.main-buttons {
    min-width: 250px;
    color: hsla(174, 94%, 31%, 1);
    margin: 10px;
}