{% extends "base.html" %}

{% block content %}
<h1>Home</h1>
<p>This is the first thing that people will see.</p>
<a href="{{ TEMPLATE_DIRS }}/playgroundapp/playground_info">Playground Info</a><br>
<a href="{{ TEMPLATE_DIRS }}/playgroundapp/playground_suggest">Playground Suggest</a><br>
<a href="{{ TEMPLATE_DIRS }}/playgroundapp/user_login">User Login</a><br>
<a href="{{ TEMPLATE_DIRS }}/playgroundapp/user_profile">User Profile</a><br>
<a href="{{ TEMPLATE_DIRS }}/playgroundapp/user_signup">User Signup</a>

{% endblock %}