{% extends "base.html" %}

{% block content %}
<h1>Find N' Play</h1>
<h4>Find, contribute and explore playgrounds in the Durham/Chapel Hill area.</h4>

<hr>

<a id="find"></a>
<div class="row">
<div class="col-md-5 left-info">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="search" style="border: 1px solid #000; border-right: none;">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" style="background-color: hsla(58, 100%, 75%, 0.2); border: 1px solid #000; border-left: none;"><span class="glyphicon glyphicon-search" style="color: hsla(174, 94%, 31%, 0.5);"></span></button>
        </span>
    </div><!-- /input-group -->    
    
    
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Chapel Hill-Carrboro YMCA</td>
                <td>980 Martin Luther King Dr.</td>
            </tr>
            <tr>
                <td>Chapel Hill-Carrboro YMCA</td>
                <td>980 Martin Luther King Dr.</td>
            </tr>
            <tr>
                <td>Chapel Hill-Carrboro YMCA</td>
                <td>980 Martin Luther King Dr.</td>
            </tr>
            <tr>
                <td>Chapel Hill-Carrboro YMCA</td>
                <td>980 Martin Luther King Dr.</td>
            </tr>
            <tr>
                <td>Chapel Hill-Carrboro YMCA</td>
                <td>980 Martin Luther King Dr.</td>
            </tr>
            <tr>
                <td>Chapel Hill-Carrboro YMCA</td>
                <td>980 Martin Luther King Dr.</td>
            </tr>
        </tbody>
    </table>
    
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Features
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul>
                    <li><input type="radio"></li>
                    <li><input type="radio"></li>
                    <li><input type="radio"></li>
                    <li><input type="radio"></li>
                    <li><input type="radio"></li>
                    <li><input type="radio"></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                Transportation
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <ul>
                    <li><input type="radio"></li>
                    <li><input type="radio"></li>
                    <li><input type="radio"></li>
                    <li><input type="radio"></li>
                    <li><input type="radio"></li>
                    <li><input type="radio"></li>
                </ul>
            </div>
          </div>
        </div>

    </div>
    
</div><!--end list column-->
<div class="col-md-7 right-map">
    <iframe class="container well" src="{{ TEMPLATE_DIRS }}playgroundapp/map" style="width: 100%; min-height: 100%; border: none;">
        
    </iframe>
</div>
</div><!--end list detail and map row-->

{% endblock %}