{% extends "base.html" %}

{% block content %}
<div class="container">
<h1>Add a Playground</h1>
</div>


<div class=row>
    <div class="col-md-6 left-info">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="name" style="border: 1px solid #000; border-right: none;">
        <span class="input-group-btn">
        </span>
        
        <input type="text" class="form-control" placeholder="street address" style="border: 1px solid #000; border-right: none;">
        <span class="input-group-btn">
        </span>
        
        <input type="text" class="form-control" placeholder="city" style="border: 1px solid #000; border-right: none;">
        <span class="input-group-btn">
        </span>
        
        <input type="text" class="form-control" placeholder="hours open" style="border: 1px solid #000; border-right: none;">
        <span class="input-group-btn">
        </span>
        
        <input type="text" class="form-control" placeholder="description" style="border: 1px solid #000; border-right: none;">
        <span class="input-group-btn">
        </span>
    </div>
    </div>
    <div class="col-md-6 left-info">
            <div class="panel panel-default">
            <h4 class="panel-title">
              check all features
            </h4>
                <ul>
                    <li><input type="radio"> Swings</li>
                    <li><input type="radio"> Slide</li>
                    <li><input type="radio"> Monkey bars</li>
                    <li><input type="radio"> Sandbox</li>
                    <li><input type="radio"> Fence</li>
                    <li><input type="radio"> Field</li>
                    <li><input type="radio"> Picnic Tables</li>
                    <li><input type="radio"> Hiking trail</li>
                    <li><input type="radio"> Bathrooms</li>
                    <li><input type="radio"> Changing station</li>
                    <li><input type="radio"> Shade</li>
                    <li><input type="radio"> Basketball courts</li>
                    <li><input type="radio"> Baseball field</li>
                </ul>
            </div>
             <div class="panel panel-default">
            <h4 class="panel-title">
              appropriate for ages
            </h4>
                <ul>
                    <li><input type="radio"> 0-2</li>
                    <li><input type="radio"> 2-4</li>
                    <li><input type="radio"> 4-6</li>
                    <li><input type="radio"> 6-8</li>
                    <li><input type="radio"> 8-10</li>
                    <li><input type="radio"> 10-12</li>
                    <li><input type="radio"> 12-14</li>
                </ul>
            </div>
              <div class="panel panel-default">
            <h4 class="panel-title">
              handicap accessible?
            </h4>
                <ul>
                    <li><input type="radio"> Yes</li>
                    <li><input type="radio"> No</li>
                    <li><input type="radio"> Don't know</li>
                </ul>
            </div>
          </div>
     
</div>

{% endblock %}