{% extends "base.html" %}

{% block content %}
<div class="container">
<h1>Playground Detail</h1>

<div class=row>
    <div class="col-md-5 left-info">
    <h2>Address</h2>
    <div class=
    <div class="panel panel-default">
  <div class="panel-body">
    <h6>Suitable for Ages</h6> 6-12
  </div>
  <div class="panel-body">
    <h6>School District</h6> New Hope
  </div>
  <div class="panel-body">
    <h6>Transportation</h6> NS, NU
  </div>
  <div class="panel-body">
    <h6>Hours</h6> Dawn to dusk
  </div>
  <div class="panel-body">
    <h6>Features</h6>
    <ul>
        <li>Swings</li>
        <li>Parking</li>
        <li>Picnic tables</li>
        <li>Pool</li>
        <li>Baseball field</li>
        <li>Tennis courts</li>
        <li>Basketball courts</li>
    </ul>
  </div>
</div>
</div>
<div class="col-md-7">
    <h1>Slideshow Javascript goes here</h1>
</div>
</div>
</div>
{% endblock %}