{% extends "base.html" %}

{% block content %}
<h1>Add a Playground</h1>
<div class=row>
    <div class="col-md-6 left-info">
        <h2>Insert Contact Form Herey</h2>
    </div>
    <div class="col-md-6 left-info">
            <div class="panel panel-default">
            <h4 class="panel-title">
              check all features
            </h4>
                <ul>
                    <li><input type="Swings"></li>
                    <li><input type="Slide"></li>
                    <li><input type="Monkey bars"></li>
                    <li><input type="Sandbox"></li>
                    <li><input type="Fence"></li>
                    <li><input type="Field"></li>
                    <li><input type="Picnic Tables"></li>
                    <li><input type="Hiking trail"></li>
                    <li><input type="Bathrooms"></li>
                    <li><input type="Changing station"></li>
                    <li><input type="Shade"></li>
                    <li><input type="Basketball courts"></li>
                    <li><input type="Baseball field"></li>
                </ul>
            </div>
             <div class="panel panel-default">
            <h4 class="panel-title">
              appropriate for ages
            </h4>
                <ul>
                    <li><input type="0-2"></li>
                    <li><input type="2-4"></li>
                    <li><input type="4-6"></li>
                    <li><input type="6-8"></li>
                    <li><input type="8-10"></li>
                    <li><input type="10-12"></li>
                    <li><input type="12-14"></li>
                </ul>
            </div>
              <div class="panel panel-default">
            <h4 class="panel-title">
              handicap accessible?
            </h4>
                <ul>
                    <li><input type="Yes"></li>
                    <li><input type="No"></li>
                    <li><input type="Don't know"></li>
                </ul>
            </div>
          </div>
     
</div>

{% endblock %}