{% extends "base.html" %}

{% block content %}
    
<div class="container">
<h1>User Signup</h1>


<div class="col-md-6 left-info">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="first" style="border: 1px solid #000;">
        <span class="input-group-btn">
        </span>
        
        <input type="text" class="form-control" placeholder="last" style="border: 1px solid #000;">
        <span class="input-group-btn">
        </span>
        
        <input type="text" class="form-control" placeholder="zip" style="border: 1px solid #000;">
        <span class="input-group-btn">
        </span>
        
        <input type="text" class="form-control" placeholder="birthday" style="border: 1px solid #000;">
        <span class="input-group-btn">
        </span>
        
        <input type="text" class="form-control" placeholder="description" style="border: 1px solid #000;">
        <span class="input-group-btn">
        </span>
    </div><!-- /input-group -->
    
</div> <!---end left column-->


<div class="col-md-6 right-info"> <!---start right column-->
    
    <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              
                Which best describes you? 
              
            </h4>
          </div>
          <div id="user-description">
            <div class="panel-body">
                <ul>
                    <li><input type="radio">Working Mom</li>
                    <li><input type="radio">Working Dad</li>
                    <li><input type="radio">Stay-at-home Mom</li>
                    <li><input type="radio">Stay-at-home Dad</li>
                    <li><input type="radio">Grandparent</li>
                    <li><input type="radio">Other</li>
                </ul>
            </div>
          </div>
          
          <input type="text" class="form-control" placeholder="favorite park" style="border: 1px solid #000; border-right: none;">
             <!---make this toggle up TOP JOSIE-->
            <input type="text" class="form-control" placeholder="if other please specify" style="border: 1px solid #000; border-right: none;">
        
        </div>
        
        <button id="submit">Submit</button>
        
    </div>
</div> <!---end right column-->

{% endblock %}


<h1>Find N' Play</h1>
<h4>Find, contribute and explore playgrounds in the Durham/Chapel Hill area.</h4>

<hr>


<div class="col-md-2 left-picture">
    <img src="http://jeweell.com/data_images/out/62/1169199-christopher-walken.jpg" width="80 px">
</div>

<div class="col-md-10 user-name">
    <h1>Mary Smith</h1>  <!---database info needed -->
    
    <h5>Working mom</h5> <!---database info needed -->
    
    <h4>Favorite playground</h4>
    
    <h5>Sewell School Playground</h5> <!---database info needed -->
</div>

<div class="col-med-12 user-reviews">
<h4>Mary's reviews</h4> <!---database info needed for her name-->

    <table class="table">

            <tr>
                <td><img src="http://www.chp.edu/cs/Satellite?blobcol=urldata&blobheader=image%2Fgif&blobkey=id&blobtable=MungoBlobs&blobwhere=1294152136942&ssbinary=true&eHA_media_type=.gif"></td>
                <td>980 Martin Luther King Dr.</td>
            </tr>
            <tr>
                <td><img src="http://www.chp.edu/cs/Satellite?blobcol=urldata&blobheader=image%2Fgif&blobkey=id&blobtable=MungoBlobs&blobwhere=1294152136942&ssbinary=true&eHA_media_type=.gif"></td>
                <td>980 Martin Luther King Dr.</td>
            </tr>
            <tr>
                <td><img src="http://www.chp.edu/cs/Satellite?blobcol=urldata&blobheader=image%2Fgif&blobkey=id&blobtable=MungoBlobs&blobwhere=1294152136942&ssbinary=true&eHA_media_type=.gif"></td>
                <td>980 Martin Luther King Dr.</td>
            </tr>
            
    </table>

</div>

   
{% endblock %}
