{% extends "base.html" %}

{% block content %}
    
<div class="container">

<hr>


<div class="col-md-2 left-picture">
    <img src="http://jeweell.com/data_images/out/62/1169199-christopher-walken.jpg" width="80 px">
</div>

<div class="col-md-10 user-name">
    <h1>Mary Smith</h1>  <!---database info needed -->
    
    <h5>Working mom</h5> <!---database info needed -->
    
    <h4>Favorite playground</h4>
    
    <h5>Sewell School Playground</h5> <!---database info needed -->
</div>

<div class="col-med-12 user-reviews">
<h4>Mary's favorites</h4> <!---database info needed for her name-->

    <table class="table">

            <tr>
                <td><img src="http://www.chp.edu/cs/Satellite?blobcol=urldata&blobheader=image%2Fgif&blobkey=id&blobtable=MungoBlobs&blobwhere=1294152136942&ssbinary=true&eHA_media_type=.gif"></td>
                <td>980 Martin Luther King Dr.</td>
            </tr>
            <tr>
                <td><img src="http://www.chp.edu/cs/Satellite?blobcol=urldata&blobheader=image%2Fgif&blobkey=id&blobtable=MungoBlobs&blobwhere=1294152136942&ssbinary=true&eHA_media_type=.gif"></td>
                <td>980 Martin Luther King Dr.</td>
            </tr>
            <tr>
                <td><img src="http://www.chp.edu/cs/Satellite?blobcol=urldata&blobheader=image%2Fgif&blobkey=id&blobtable=MungoBlobs&blobwhere=1294152136942&ssbinary=true&eHA_media_type=.gif"></td>
                <td>980 Martin Luther King Dr.</td>
            </tr>
            <tr>
                <td><img src="http://www.chp.edu/cs/Satellite?blobcol=urldata&blobheader=image%2Fgif&blobkey=id&blobtable=MungoBlobs&blobwhere=1294152136942&ssbinary=true&eHA_media_type=.gif"></td>
                <td>980 Martin Luther King Dr.</td>
            </tr>
            <tr>
                <td><img src="http://www.chp.edu/cs/Satellite?blobcol=urldata&blobheader=image%2Fgif&blobkey=id&blobtable=MungoBlobs&blobwhere=1294152136942&ssbinary=true&eHA_media_type=.gif"></td>
                <td>980 Martin Luther King Dr.</td>
            </tr>
            <tr>
                <td><img src="http://www.chp.edu/cs/Satellite?blobcol=urldata&blobheader=image%2Fgif&blobkey=id&blobtable=MungoBlobs&blobwhere=1294152136942&ssbinary=true&eHA_media_type=.gif"></td>
                <td>980 Martin Luther King Dr.</td>
            </tr>
    </table>

</div>
</div> <!--end container for block of text -->
   
{% endblock %}

